# Ignorar entorno virtual
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales
*.env
.env

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
